/* Reset default margin, use flex to center content, and set background color */

body{
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

/* Style the form container */
.form{
    position: absolute;
    top: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    width: 400px;
    background-color: lightgreen;
    border-radius: 10px;
}

/* Style the input field */
.input{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    border: none;
    font-size: 20px;
    font-family: cursive;
}

/* Style the input field's placeholder text */
.input::placeholder{
    color: lightgray;
}

/* Style the list container */
.list{
    padding: 0;
    margin: 0;
}

/* Style list items */
.list li{
    list-style-type: none;
    padding: 20px;
    font-family: cursive;
    border-top: dotted;
    border-color: darkgray;
    position: relative;
}

/* Style the trash (delete) icon */
.list li .fa-trash{
    color: red;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Style the checkmark (complete) icon */
.list li .fa-check-square{
    color: green;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Style checked list items and their checkmark icon */
.list li.checked {
    color: darkgray;
    text-decoration: line-through;
}

/* Adjust the position and style of the submit button */
.list li.checked .fa-check-square{
    color: darkgray;
}

/* Adjust the position of the submit button */
.form button[type="submit"] {
    width: 50%;
    box-sizing: border-box;
    padding: 15px;
    background-color: lightblue;
    border: none;
    border-radius: 50px 50px 50px 50px;
    font-size: 20px;
    font-family: cursive;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }